@import "tailwindcss";

@theme {
	--color-background: var(--background);
	--color-border: var(--border);
	--color-background-deeper: var(--background-deeper);
	--color-button: var(--button);
	--color-button-border: var(--button-border);
	--color-primary: var(--primary);
	--color-primary-border: var(--primary-border);
	--color-primary-text: var(--primary-text);
	--color-text: var(--text);
	--color-text-muted: var(--text-muted);
	--color-icon: var(--icon);
	--color-success: var(--success);
	--color-danger: var(--danger);
	--color-warning: var(--warning);

	--font-mono: "Geist Mono", monospace;

	--font-size-xs: 10px;
	--font-size-sm: 11px;
	--font-size-base: 12px;
	--font-size-md: 13px;
	--font-size-lg: 14px;
	--font-size-xl: 16px;

	--spacing-0\.5: 2px;
	--spacing-1: 4px;
	--spacing-1\.5: 6px;
	--spacing-2: 8px;
	--spacing-2\.5: 10px;
	--spacing-3: 12px;
	--spacing-3\.5: 14px;
	--spacing-4: 16px;
	--spacing-5: 20px;
	--spacing-6: 24px;
	--spacing-7: 28px;
	--spacing-8: 32px;
	--spacing-9: 36px;
	--spacing-10: 40px;
	--spacing-11: 44px;
	--spacing-12: 48px;

	--radius-sm: calc(var(--radius) * 0.75);
	--radius-md: var(--radius);
	--radius-lg: calc(var(--radius) * 1.25);
	--radius-xl: calc(var(--radius) * 1.5);
	--radius-2xl: calc(var(--radius) * 2);
	--radius-3xl: calc(var(--radius) * 2.5);
	--radius-DEFAULT: var(--radius);
}

body,
#root {
	@apply text-sm;
	overflow: hidden;
	--sb-track-color: var(--background);
	--sb-thumb-color: var(--button);
	--sb-size: 4px;
}

#root {
	isolation: isolate;
}

@utility touch-hitbox {
	position: relative;
	isolation: isolate;

	&::before {
		content: "";
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		min-height: 44px;
		min-width: 44px;
		z-index: 9999;
	}
}

*::-webkit-scrollbar {
	width: var(--sb-size);
}

*::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: calc(var(--radius) * 0.375);
}

*::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: calc(var(--radius) * 0.375);
}

@supports not selector(::-webkit-scrollbar) {
	* {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}